  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    color: rgb(71, 69, 69)
    }

  .box {
    margin: 80px 0 50px;
    padding: 80px 40px;
    width: 50%;
    background-color: #FFF;
    border: 0 solid #DDDCDC;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
  }

  .bg {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }

  form {
    text-align: center
  }

  .btnDel {
    border-color: #dd4949;
  }

  .btn-block {
    display: inline-block;
    justify-content: space-between;
    width: 40%;
  }

  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .list {
    padding: 3%;
  }

  li {
    border-bottom: 2px solid #f5f5f5;
    padding: 10px 5px 10px 5px;
  }

  .upper {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 40px 0;
  }

  h1 {
    text-align: center;
    color: rgb(46, 45, 45)
  }

  input {
    //background-color: white;
   // background-position: 10px 10px; 
    background-repeat: no-repeat;
    height: 40px;
    //padding-left: 40px;
    border: none;
    border-bottom: 2px solid gray;
    margin-right: 3px;
  }


  input:focus{
    outline: none;
  }

  button {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    border: solid 2px;
    border-color: rgb(209, 208, 208);
    background-color:transparent;
    border-radius: 4px;
    padding: 0 6px;
    margin-right: 3px;
    min-width: 70px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  
  