h1 {
	background-color: #3F51B5;
	color: white;
	font-size: 24px;
	font-weight: normal;
	padding: 10px 20px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 8px;
}

h2 {
	color: rgb(68, 67, 67);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	background: -moz-linear-gradient(top, #dae2f8, #d6a4a4);
	background: -ms-linear-gradient(left, #dae2f8, #d6a4a4);
	background: -o-linear-gradient(left, #dae2f8, #d6a4a4);
	background: -webkit-gradient(
		linear,
		0% 0%,
		0% 100%,
		from(#d6a4a4),
		to(#dae2f8)
	);
	background: -webkit-linear-gradient(
		left,
		#dae2f8,
		#d6a4a4
	);
	background-color: #d6a4a4;

	font-family: roboto;
}

li {
	background: white;
	color: #666;
	font-size-adjust: 0.58;
	line-height: 40px;
	padding: 8px 20px;
	flex-wrap: nowrap;
}

li:nth-child(2n) {
	background-color: #F7F7F7;
}
li:hover span {
	opacity: 1;
	transition: all 0.2s linear;
	width: 40px;
}

input {
	background-color: #F7F7F7;
	border: 2px solid #F7F7F7;
	border-bottom: 2px solid #3F51B5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #3F51B5;
	font-size: 18px;
	padding: 13px 13px 13px 20px;
	width: 100%;
}

input:focus {
	background: #FFF;
	border: 2px solid #3F51B5;
	outline: none;
}

span {
	background-color: #F44336;
	color: white;
	display: inline-block;
	height: 40px;
	margin-right: 20px;
	opacity: 0;
	text-align: center;
	width: 0;
}

#container {
	background-color: #F7F7F7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	margin: 100px auto;
	min-width: 300px;
	width: 40%;
	border: 0px solid #DDDCDC;
	border-radius: 12px;
	padding: 8px;
}

.completed {
	color: gray;
	text-decoration: line-through;
}

.fa-plus-circle {
	float: right;
}

.btn {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	border: solid 2px;
	background-color:transparent;
	border-radius: 4px;
	margin: 10px;
	min-width: 70px;
	height: 30px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-overflow: ellipsis;
	text-transform: uppercase;
}

.btn-toggle {
	border-color: rgb(209, 208, 208);
}

.list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding: 8px 12px;
	flex-wrap: nowrap;
}

.list {
  padding: 8px 0 8px 0;
}


.btn-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 35%;
}

.btn-del {
	border-color: rgb(233, 92, 92);
}

.add-button {
	width:100%;
	margin: 8px 0;
	height: 40px;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	border: solid 2px #3F51B5;;
	background-color:transparent;
	border-radius: 8px;
	padding: 0 6px;
	margin-right: 3px;
	min-width: 70px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-overflow: ellipsis;
	text-transform: uppercase;
}